<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<table>
  <thead>
    <tr>
      <th>User.id</th>
      <th>Name</th>
      <th>Artist.id</th>
      <th>Avatar</th>
      <th>Earning to date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.user_id %></td>
        <td><%= artist.name %></td>
        <td><%= artist.id%></td>
        <td><%= image_tag artist.avatar, size: "80" %></td>
        <td><%= artist.earning_to_date %></td>
        <td><%= link_to 'Show', artist %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist', new_artist_path %>
