<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @artist.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @artist.avatar.small_thumb %>
</p>

<p>
  <strong>Earning to date:</strong>
  <%= @artist.earning_to_date %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
