<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-4 is-offset-4">
        <h1 class="title" style="color:black">
          LOGIN
        </h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="box" style="background-color:whitesmoke">

          <label class="label">Email</label>
          <p class="control">
            <%= f.email_field :email , class:"input", placeholder:"john.smith@mail.com", autofocus: true %>
          </p>

          <label class="label">Password</label>
          <p class="control">
            <%= f.password_field :password, class:"input", placeholder:"●●●●●●●", autofocus: true, autocomplete: "off" %>
          </p>
          <hr>
          <p class="control">
            <%= f.submit "LOGIN", class: "button is-primary" %>
          </p>
          <p class="control">
            <%= link_to('Sign Up', new_user_registration_path, style: "color:black", :method => :get)%>
            |
            <%= link_to('Forgot password?', new_user_password_path, style: "color:black", :method => :get)%>
          </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
