<p id="notice"><%= notice %></p>

<% 2.times do %>

<div class="container">
  <div class="columns is-multiline">
    <% @products.first(2).each do |product| %>
    <div class="column is-half">
      <div class="card" style="background-color: #C2185B;">
        <div class="card-image">
          <figure class="image">
            <%= image_tag product.image_url %>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4" style="font-family:serif, color:#fff;"><%= product.name %> </p>
              <%= link_to 'Product Details', product, class:"button is-primary is-outlined is-inverted" %>
            </div>
          </div>

          <div class="content" style="color:white;">
            <%= product.description %>
            <br>
          </div>
        </div>

        <footer class="card-footer">
          <p class="card-footer-item" style:"background-color:black">
            <span>
              <%= number_to_currency product.price%>
            </span>
          </p>

          <% if user_signed_in? %>
          <%= render "product_row", product: product, order_item: @order_item%>
          <% else %>
          <%= link_to('Log to Shop', new_user_session_path, class: "button is-primary")  %>
          <% end %>
        </footer>

      </div>

    </div>
    <% end %>
  </div>
</div>

<% 2.times do %>
<div class="container">
  <div class="columns is-multiline">
    <% @products.last(3).each do |product| %>
    <div class="column is-one-third">
      <div class="card" style="background-color: #C2185B;">
        <div class="card-image">
          <figure class="image">
            <%= image_tag product.image_url %>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4" style="font-family:serif;"><%= product.name %></p>
              <%= link_to 'Product Details', product, class:"button is-primary is-outlined is-inverted" %>
            </div>
          </div>

          <div class="content" style="color:white;">
            <%= product.description %>
            <br>
          </div>
        </div>

        <footer class="card-footer">
          <p class="card-footer-item" style:"background-color:black">
            <span>
              <%= number_to_currency product.price%>
            </span>
          </p>

          <% if user_signed_in? %>
          <%= render "product_row", product: product, order_item: @order_item%>
          <% else %>
          <%= link_to('Log to Shop', new_user_session_path, class: "button is-primary")  %>
          <% end %>
        </footer>

      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>

<div class="container">
  <div class="columns is-multiline">
    <% @products.first(8).each do |product| %>
    <div class="column is-one-quarter">
      <div class="card" style="background-color: #C2185B;">
        <div class="card-image">
          <figure class="image">
            <%= image_tag product.image_url %>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4" style="font-family:serif;"><%= product.name %></p>
              <%= link_to 'Product Details', product, class:"button is-primary is-outlined is-inverted" %>
            </div>
          </div>

          <div class="content" style="color:white;">
            <%= product.description %>
            <br>
          </div>
        </div>

        <footer class="card-footer">
          <p class="card-footer-item" style:"background-color:black">
            <span>
              <%= number_to_currency product.price%>
            </span>
          </p>

          <% if user_signed_in? %>
          <%= render "product_row", product: product, order_item: @order_item%>
          <% else %>
          <%= link_to('Login', new_user_session_path, class: "button is-primary")  %>
          <% end %>

        </footer>
      </div>
    </div>
    <% end %>
  </div>
</div>


<% end %>
