<nav class="nav">
  <div class="nav-left">

    <figure class="image" style="padding: 5px">
      <img src="http://res.cloudinary.com/suryast/image/upload/v1493120539/Coret_Logo_rywvwm.png" alt="Coret Logo" style="width:250px;height:50px;">
    </figure </div>

    <div class="nav-center is-hidden-desktop is-hidden-tablet">
      <a class="nav-item">
        <span class="icon">
          <i class="fa fa-shopping-cart"></i>
        </span>
      </a>
    </div>

    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
    <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
    <div id="nav-toggle" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- This "nav-menu" is hidden on mobile -->
    <!-- Add the modifier "is-active" to display it on mobile -->
    <div id='nav-menu' class="nav-right nav-menu" style="font-family:serif;">
      <a class="nav-item" >
        <% if user_signed_in? %>
        <%= link_to('LOGOUT', destroy_user_session_path, class: "nav-item", :method => :delete) %>
      <% else %>
        <%= link_to('SIGN IN', new_user_session_path, class: "nav-item")  %>
        <% end %>
      </a>

      <a class="nav-item " style="font-family:serif;">
        NEWSLETTERS
      </a>

      <a class="nav-item " style="font-family:serif;">
        <%= link_to('CONTACT US', contact_path, class: "nav-item", :method => :get) %>
      </a>

      <a class="nav-item is-hidden-mobile">
        <span class="icon">
          <i class="fa fa-shopping-cart"></i>
        </span>
      </a>
    </div>
    <div class="nav-item">
        <h1><%= render 'layouts/cart_text' %></h1>
    </div>
  </div>
</nav>

<nav class="nav" style="z-index: -1;">
  <div class="nav-right" style="padding:0.5em; background-color:#4A4A4A;">
    <span class="nav-item">
      <a class="button is-primary is-outlined is-inverted" href="<%= new_charge_path %>"  >
        CHECKOUT
      </a>
    </span>
  </div>
</nav>
